@import './reset.scss'; 
$black: rgba(16, 14, 16, 1);
$white: rgba(236, 234, 237, 1);
$darkGrey: rgba(43, 48, 58, 1);
$yellow: rgba(249, 195, 53, 1);
$blue: rgba(28, 63, 140, 1);
$h1: 'Neuton', serif;
$h2: 'Montserrat', sans-serif;
$p: 'Noto Sans', sans-serif;
//***********begin Contact ****************
.general-banner-img {
    width: 100vw;
}
.page-box-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    @include desktop() {
        // margin-top: 125px;
        margin: 40% auto;
    }
    div:nth-child(2){
        border-bottom: 2px solid $yellow;
        @include desktop() {
            border-bottom: none;
        }
    }
    // margin: auto;
    margin: 35% auto;
    max-width: 1000px;
    position: relative;
    color: $darkGrey;
    p {
        padding: 10px 5px;
        color: $darkGrey;
        text-align: center;
    }
    blockquote {
        border-left: 5px solid $blue;
    }
    h2 {
        font-size: 1.2rem;
        @include desktop() {
            font-size: 2rem;
        }
    }
    h3 {
        text-shadow: 1px 1px 2px lighten($yellow, 20%);
        @include desktop() {
            font-size: 1.5rem;
        }
    }
    h1, h2, h3 {
        color: $darkGrey;
        text-align: center;

    }
} 
#wpcf7-f29-p11-o1 {
    label {
        color: black;
        text-shadow: 1px 1px 1px $white;
        
    }
    input {
        background: $blue;
        border: none;
        border-radius: 3px;
        color: $white;
        width: 70px;
        height: 40px;
    }
    input:last-child {
        width: 80%;
        border-bottom: none;
        border-bottom: 1px solid $blue;
        background: $white;
        outline: none;
        border-radius: 0;
        &:hover {
            background: lighten($white, 3%);
        }
        &:active {
            background: lighten($white, 3%);
            outline: none;
        }
    }
    textarea {
        background: $white;
        border: 1px solid $blue;
        outline: none;
        width: 80%;
        &:active {
            background: lighten($white, 3%);
            
        }
    }
}
//***********end contact ****************
//***********blog page ****************
.blog-expanded {
    display: none;
}
.page-box-blog {
    background: $white;
    border-radius: 3px;
    border-bottom: 2px solid $blue;
    @include desktop() {
        margin-top: 225px;
        border-bottom: none;
        border-left: 10px solid $blue;
        padding: 10px;
    }
    margin: auto;
    margin-top: 75px;
    max-width: 1000px;
    position: relative;
    p {
        padding: 5px 5px;
        color: $darkGrey;
    }
    blockquote {
        border-left: 5px solid $blue;
    }
    h2, h3 {
        padding: 5px 1px;
        color: $darkGrey;
    }
} 
.blog-summary-links {
    cursor: pointer;
    transition: 0.4s;
    margin: 1px;
    h3{
        width: 100%;
        text-align: center;
        color: $blue;
        text-shadow: 1px 1px 2px $darkGrey;
        font-size: 2rem;
    }
    &:hover {
        background: darken($white, 10%);
        margin: 0;
        border: 1px solid $yellow;
        
    }
}
//***********end blog page ****************
// **************** footer section - landing ******************
footer {
    width: 100%;
    background: $darkGrey;
    position: relative;
}
.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop() {
        padding-top: 20px;
    }
}
.footer-phone {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid $white;
    h2, h3 {
        color: $white;
    }
    h2 {
        text-shadow: 1px 1px 1px $yellow;
        @include desktop() {
            font-size: 3rem;
        }
    }
    a {
        text-decoration: none;
    }
}
.footer-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    ul {
        list-style-type: none;
        a {
            color: $white;
            &:hover {
                text-decoration: none;
            }
        }
    }
    @include desktop() {
         ul {
            display: flex;
            flex-direction: row;
            width: 100vw;
            justify-content: space-around;
            font-size: 1.5rem;
            font-family: $h2;
        }
    }
}
// **************** end footer section - landing ******************