/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.general-banner-img {
  width: 100vw;
}

.page-box-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eceaed;
  margin: auto;
  max-width: 1000px;
  position: relative;
  color: #2b303a;
}

.page-box-contact div:nth-child(2) {
  border-bottom: 2px solid #f9c335;
}

@media (min-width: 950px) {
  .page-box-contact div:nth-child(2) {
    border-bottom: none;
  }
}

.page-box-contact p {
  padding: 10px 5px;
  color: #2b303a;
  text-align: center;
}

.page-box-contact blockquote {
  border-left: 5px solid #1c3f8c;
}

.page-box-contact h2 {
  font-size: 1.2rem;
}

@media (min-width: 950px) {
  .page-box-contact h2 {
    font-size: 2rem;
  }
}

.page-box-contact h3 {
  text-shadow: 1px 1px 2px #fce098;
}

@media (min-width: 950px) {
  .page-box-contact h3 {
    font-size: 1.5rem;
  }
}

.page-box-contact h1, .page-box-contact h2, .page-box-contact h3 {
  color: #2b303a;
  text-align: center;
}

#wpcf7-f29-p11-o1 label {
  color: black;
  text-shadow: 1px 1px 1px #eceaed;
}

#wpcf7-f29-p11-o1 input {
  background: #1c3f8c;
  border: none;
  border-radius: 3px;
  color: #eceaed;
  width: 70px;
  height: 40px;
}

#wpcf7-f29-p11-o1 input:last-child {
  width: 80%;
  border-bottom: none;
  border-bottom: 1px solid #1c3f8c;
  background: #eceaed;
  outline: none;
  border-radius: 0;
}

#wpcf7-f29-p11-o1 input:last-child:hover {
  background: #f3f2f4;
}

#wpcf7-f29-p11-o1 input:last-child:active {
  background: #f3f2f4;
  outline: none;
}

#wpcf7-f29-p11-o1 textarea {
  background: #eceaed;
  border: 1px solid #1c3f8c;
  outline: none;
  width: 80%;
}

#wpcf7-f29-p11-o1 textarea:active {
  background: #f3f2f4;
}

.blog-expanded {
  display: none;
}

.page-box-blog {
  background: #eceaed;
  border-radius: 3px;
  border-bottom: 2px solid #1c3f8c;
  margin: auto;
  margin-top: 75px;
  max-width: 1000px;
  position: relative;
}

@media (min-width: 950px) {
  .page-box-blog {
    margin-top: 125px;
    border-bottom: none;
    border-left: 10px solid #1c3f8c;
    padding: 10px;
  }
}

.page-box-blog p {
  padding: 5px 5px;
  color: #2b303a;
}

.page-box-blog blockquote {
  border-left: 5px solid #1c3f8c;
}

.page-box-blog h2, .page-box-blog h3 {
  padding: 5px 1px;
  color: #2b303a;
}

.blog-summary-links {
  cursor: pointer;
  transition: 0.4s;
  margin: 1px;
}

.blog-summary-links h3 {
  width: 100%;
  text-align: center;
  color: #1c3f8c;
  text-shadow: 1px 1px 2px #2b303a;
  font-size: 2rem;
}

.blog-summary-links:hover {
  background: #d3cfd5;
  margin: 0;
  border: 1px solid #f9c335;
}

footer {
  width: 100%;
  background: #2b303a;
  position: relative;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 950px) {
  .footer-container {
    padding-top: 20px;
  }
}

.footer-phone {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #eceaed;
}

.footer-phone h2, .footer-phone h3 {
  color: #eceaed;
}

.footer-phone h2 {
  text-shadow: 1px 1px 1px #f9c335;
}

@media (min-width: 950px) {
  .footer-phone h2 {
    font-size: 3rem;
  }
}

.footer-phone a {
  text-decoration: none;
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px 0;
}

.footer-links ul {
  list-style-type: none;
}

.footer-links ul a {
  color: #eceaed;
}

.footer-links ul a:hover {
  text-decoration: none;
}

@media (min-width: 950px) {
  .footer-links div ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
  }
}
