/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.banner-div {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}

.very-wide-banner {
  display: none;
}

@media (min-width: 1630px) {
  .very-wide-banner {
    display: block;
  }
}

.xlarge-banner {
  display: none;
}

@media (min-width: 1300px) and (max-width: 1629px) {
  .xlarge-banner {
    display: block;
  }
}

@media (min-width: 950px) and (max-width: 1299px) {
  .xlarge-banner {
    display: none;
  }
}

.large-banner {
  display: none;
}

@media (min-width: 950px) and (max-width: 1299px) {
  .large-banner {
    display: block;
  }
}

@media (min-width: 1300px) and (max-width: 1629px) {
  .large-banner {
    display: none;
  }
}

@media (min-width: 950px) and (max-width: 1299px) {
  .small-banner {
    display: none;
  }
}

@media (min-width: 1300px) and (max-width: 1629px) {
  .small-banner {
    display: none;
  }
}

@media (min-width: 1630px) {
  .small-banner {
    display: none;
  }
}

.banner-text {
  position: absolute;
  width: 100vw;
  top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 950px) {
  .banner-text {
    top: 200px;
  }
}

.banner-text div {
  width: 90%;
}

.banner-text h1 {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  color: #eceaed;
  text-shadow: 4px 4px 4px #100e10;
}

@media (min-width: 950px) {
  .banner-text h1 {
    font-size: 6rem;
  }
}

@media (min-width: 600px) and (max-width: 949px) {
  .banner-text h1 {
    font-size: 4rem;
  }
}

.banner-text p {
  width: 80%;
  text-align: end;
  color: #eceaed;
  text-shadow: 4px 4px 4px #100e10;
}

@media (min-width: 950px) {
  .banner-text p {
    font-size: 3rem;
  }
}

.banner-text h4 {
  width: 100%;
  text-align: center;
  color: #eceaed;
  font-size: 1.2rem;
  text-shadow: 4px 4px 4px #100e10;
}

.desktop-menu {
  display: none;
}

@media (min-width: 1300px) and (max-width: 1629px) {
  .desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .desktop-menu div {
    width: 100%;
  }
  .desktop-menu div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
  }
  .desktop-menu div ul a {
    text-decoration: none;
    color: #2b303a;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Neuton", serif;
  }
  .desktop-menu div ul a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1630px) {
  .desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .desktop-menu div {
    width: 100%;
  }
  .desktop-menu div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
  }
  .desktop-menu div ul a {
    text-decoration: none;
    color: #2b303a;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Neuton", serif;
  }
  .desktop-menu div ul a:hover {
    text-decoration: underline;
  }
}

#navbar {
  width: 100%;
  height: 75px;
  background: url("./images/nav-background.png");
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 0;
}

@media (min-width: 950px) {
  #navbar {
    height: 125px;
  }
}

.nav-box {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 4px solid #100e10;
}

.nav-title {
  font-size: 1.2rem;
  color: #2b303a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-title p {
  display: none;
}

@media (min-width: 950px) {
  .nav-title p {
    display: block;
    font-size: 1.3rem;
  }
}

.nav-title h1 a {
  color: #2b303a;
  text-decoration: none;
}

@media (min-width: 1300px) and (max-width: 1629px) {
  .nav-title {
    font-size: 2rem;
    width: 40%;
  }
}

@media (min-width: 1630px) {
  .nav-title {
    font-size: 2rem;
    width: 40%;
  }
}

@media (min-width: 950px) and (max-width: 1299px) {
  .nav-title {
    width: 50%;
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .nav-title {
    width: 80%;
  }
  .nav-title h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) and (max-width: 949px) {
  .nav-title h1 {
    font-size: 3rem;
  }
}

.hamburger-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1300px) and (max-width: 1629px) {
  .hamburger-div {
    display: none;
  }
}

@media (min-width: 1630px) {
  .hamburger-div {
    display: none;
  }
}

.hamburger-div button {
  outline: none;
}

.mobile-menu {
  opacity: 0;
  position: fixed;
  top: 75px;
  left: 0;
  width: 100vw;
}

.mobile-menu div {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #2b303a;
}

.mobile-menu div ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  color: #eceaed;
}

.mobile-menu div ul li {
  margin: 10px 0;
}

.mobile-menu div ul li a {
  color: #eceaed;
  text-decoration: none;
  margin: 10px 10px;
  text-shadow: 1px 1px 1px #1c3f8c;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.content-section {
  position: absolute;
}

.content-section p, .content-section h2, .content-section h3 {
  padding: 5px;
}

.content-section-company {
  position: absolute;
}

.landing-service-card {
  position: relative;
  margin-top: 20px;
  width: 100%;
  background: #eceaed;
}

@media (min-width: 950px) {
  .landing-service-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
}

.landing-service-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 950px) {
  .landing-service-container {
    width: 80%;
  }
}

.landing-service-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-service-title h2 {
  color: #2b303a;
  text-align: center;
  width: 80%;
  border-bottom: 3px solid #1c3f8c;
}

@media (min-width: 950px) {
  .landing-service-title h2 {
    font-size: 3rem;
    width: 60%;
  }
}

.landing-service-title h3 {
  color: #2b303a;
  text-align: center;
  width: 100%;
}

@media (min-width: 950px) {
  .landing-service-title h3 {
    font-size: 2.5rem;
  }
}

.landing-service-title p {
  color: #2b303a;
  padding: 5px 0 5px 5px;
}

@media (min-width: 950px) {
  .landing-service-title p {
    font-size: 1.3rem;
    padding: 15px 10px 15px 15px;
  }
}

.landing-service-image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 800px;
}

.blog-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #eceaed;
}

.landing-blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid #1c3f8c;
  border-bottom: 3px solid #1c3f8c;
  margin-top: 20px;
  padding-bottom: 10px;
}

.landing-blog-container h1 {
  color: #1c3f8c;
  text-align: center;
  text-shadow: 1px 1px 2px #f9c335;
  font-size: 2rem;
}

@media (min-width: 950px) {
  .landing-blog-container {
    width: 70%;
    margin-top: 40px;
  }
  .landing-blog-container h1 {
    font-size: 3rem;
  }
}

.landing-blog-meta h2 {
  color: #1c3f8c;
  margin-left: 5px;
}

@media (min-width: 950px) {
  .landing-blog-meta h2 {
    font-size: 2rem;
    margin-left: 15px;
  }
}

.landing-blog-meta h3 {
  color: #2b303a;
  margin-left: 5px;
}

@media (min-width: 950px) {
  .landing-blog-meta h3 {
    font-size: 2rem;
    margin-left: 15px;
  }
}

.landing-blog-meta h4 {
  color: #2b303a;
  margin-left: 5px;
}

@media (min-width: 950px) {
  .landing-blog-meta h4 {
    font-size: 2rem;
    margin-left: 15px;
  }
}

.landing-blog-content p {
  color: #2b303a;
  margin: 5px;
  padding-left: 5px;
  border-left: 5px solid #1c3f8c;
}

@media (min-width: 950px) {
  .landing-blog-content p {
    margin: 15px;
    border-left: 10px solid #1c3f8c;
  }
}

.landing-blog-links {
  width: 150px;
  height: 40px;
  background: #1c3f8c;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px #a198a6;
          box-shadow: 3px 3px 3px #a198a6;
  border-top: 3px solid #2552b7;
  border-left: 3px solid #2552b7;
  margin: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-blog-links:hover {
  border-top: 3px solid #1c3f8c;
  border-left: 3px solid #1c3f8c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.landing-blog-links a {
  text-decoration: none;
}

.landing-blog-links div {
  width: 100%;
}

.landing-blog-links div h3 {
  width: 100%;
  text-align: center;
  color: #eceaed;
}
